:root {
    --color-gray: #677071;
    --color-lightgray :#CCCFD0;
    --color-light: #FFFFFF;
    --font-text: 20px;
    --font-heading: 58px;
    --font-small: 18px;
}
body {
    font-family: "Noto Serif", serif;
}

body, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #021112;
}
.container {
    border: 1px solid yellow;
    max-width: 1620px;
    margin: 0 auto;
}

.btn {
    color: #FFFFFF;
    background-color: #13A6BA;    
    display: inline-block;
    font-weight: 600;
    transition: 0.3s;
}
header {
    background-color: #FBEDDA;
    height: 2030px;
    position: relative;
}
header .logo {
    display: inline-block;
    margin-right: 610px;
}
header .login {
    display: inline-block;
}
header .login .btn {
    font-size: var(--font-text);
    border-radius: 8px;
    padding: 10px 25px;
}
header nav {
    font-size: var(--font-small);
    padding-top: 50px;
    padding-bottom: 225px;
}
header nav ul {
    display: inline-block;
    margin-right: 107px;
}
header nav ul li {
    display: inline-block;
    margin-right: 80px;
}
header ul li:last-child {
    margin-right: 0;
}
header .hero {
    width: 988px;
    margin: 0 auto;
}
header .hero .title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 31px;
}
header .hero .lable {
    font-size: var(--font-text);
    text-align: center;
    color: var(--color-gray);
    margin-bottom: 133px;
}
header .house img {
    position: absolute;
    top: 860px;
    transform: translateX(-10%);
}
header .choice {
    width: 1274px;
    background-color: var(--color-light);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #CCCFD0;
}
header .panes ul {
    display: inline-block;
    
}
header .panes li {
    display: inline-block;
    margin: 45px 0 30px 0;
    font-size: 26px;    
}
header .panes li:first-child {
    margin-left: 54px;
}
header .choice .panes li:hover {
    margin-bottom: 0;
    border-bottom: 3px solid #021112;
    padding-bottom: 30px;
}
header .choice .panes li a:hover {
    color: #021112;
    font-weight: 600;
}
header .panes li:nth-child(2) {
    margin: 0px 88px 0px 87px;
}
header .panes a {
    color: var(--color-lightgray);
}
header .decodings {
    width: 100%;
    border-top: 1px solid #E0E2E3;
    display: inline-block;
    padding-top: 32px;
    margin-bottom: 43px;
}
header .decodings img {
    margin-left: 46px;
}
header .decodings label {    
    color: var(--color-gray);
    font-size: var(--font-small);
}
header .decodings p {
    font-size: 36px;
    font-weight: 600;
    margin-left: 68px;
}
header .decoding1 {
    display: inline-block;
    width: 360px;    
}
header .decoding2 {
    display: inline-block;
    width: 292px;
    border-right: 1px solid #CFCCCC;    
    border-left: 1px solid #CFCCCC;   
}
header .decoding3 {    
    display: inline-block;
    width: 360px;  
}
header .search {
    display: inline-block;
    vertical-align: top;
}
header .search .btn {
    font-size: 28px;
    padding: 22px 55px;
    border-radius: 20px;
    margin-top: -10px;
}

.properties .title {
    font-size: var(--font-heading);
    margin-bottom: 21px;
    margin-top: 290px;
}
.properties .lable {
    font-size: var(--font-small);
    color: var(--color-gray);
    margin-bottom: 98px;
}
.properties .properties-filter {
    position: absolute;
    right: 0;
    top: 70px;
}
.properties .filter-list {
    list-style: none;
}
.properties .filter-list li {
    display: inline-block;
    margin-left: 44px;
    font-size: 26px;
}
.properties .properties-header {
    position: relative;
}
.properties .filter-list input[type="radio"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1.3px solid #CCCFD0;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
}
.properties .filter-list input[type="radio"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    background: #7a2fc1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.properties .filter-list input[type="radio"]:checked {
    border-color: #7a2fc1;
}
.properties .filter-list input[type="radio"]:checked::after {
    opacity: 1;
}
.properties .filter-list label {
    cursor: pointer;
    color: #CCCFD0;
}
.properties .filter-list input[type="radio"]:checked + label {
    color: #772D8B;
    font-weight: bold;
}
.properties-cards {
    display: inline-block;
}
.properties-cards .card {
    display: inline-block;
    width: 520px;
    margin-right: 20px;
}
.properties-cards .card:last-child {
    margin-right: 0;
}
.properties-cards .card img {
    padding: 35px 33px 0 33px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;    
}
.properties-cards .card-back > *{
    display: block;
    margin-left: 32px;
}
.properties-cards .card-back .type {
    font-size: 30px;
    line-height: 49px;
    font-weight: 700;
    margin-top: 46px;
    margin-bottom: 9px;
}
.properties-cards .card-back .location {
    font-size: var(--font-small);
    color: var(--color-gray);

}
.properties-cards .card-back .price {
    font-size: var(--font-heading);
    font-weight: 700;
    margin-top: 22px;
} 
.properties-cards .card-back td {
    font-size: var(--font-small);
    color: var(--color-lightgray); 
    padding: 2px 24px; 
   
}
.properties-cards .card-back td:first-child {
    padding-left: 0;
}
.properties-cards .card-back td:nth-child(2) {
    border-left: 1px solid #CCCFD0;
    border-right: 1px solid #CCCFD0;
}
.properties-cards .btn {
    font-size: 28px;
    font-weight: 600;
    padding: 27px 147px;
    border-radius: 20px;
    margin: 55px 33px 36px;
    border: 2px solid #13A6BA;
    background-color: #FFFFFF;
    color: #13A6BA;
}
.properties-cards .btn:focus {
    background-color: #13A6BA;
    color: #FFFFFF;
}
.properties-cards .card:hover {
    box-shadow: 0 0 10px 5px #CCCFD0;
    border-radius: 40px;
}

.benefits {
    position: relative;
    margin-top: 171px;
}
.benefits .benefit_main {
    margin-top: 286px;
    margin-right: 130px;
    display: inline-block;
    vertical-align: top;
}
.benefits .benefit_group {
    display: inline-block;
    width: 680px;
}
.benefits .benefit_group h2 {
    font-size: var(--font-heading);
    font-weight: 700;
    padding-top: 348px;
    margin-bottom: 88px;
}
.benefits .benefit {
    display: inline-block;
    margin-bottom: 64px;
    
}
.benefits .benefit_img {
    display: inline-block;
    border: 1px solid black;   
    width: 121px;
    height: 121px;
    border-radius: 10px;
    background-color: #FBFCED;
    vertical-align: middle;
    
}
.benefits .benefit_img1 {
    padding: 27px 33px;
}
.benefits .benefit_img2,
.benefits .benefit_img3 {
    padding: 25px;
}
.benefits .benefit_label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 41px;
}
.benefits .benefit_label h3 {
    font-size: 36px;
    display: inline-block;
}
.benefits .benefit_label p {
    font-size: var(--font-text);
    color: var(--color-gray);
}
.benefits .ellipse {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;   
}
.benefits .place {
    background-color: #FFFFFF;
    width: 391px;
    padding: 34px 0 40px 34px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-25%, -120%);
}
.benefits .place h5 {
    font-size: var(--font-text);
    font-weight: 600;
    margin-bottom: 4px;
}
.benefits .place p {
    font-size: 14px;
    color: var(--color-lightgray);
    margin-bottom: 19px;
}
.benefits .place li {
    display: inline-block;
    margin-right: 14px;
}
.benefits .place li:last-child {
    vertical-align: top;
    border-radius: 5px;
    margin-right: 0;
}

